html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}


body {
  background: -webkit-linear-gradient-gradient(-90deg, purple, white);
  background: -webkit-linear-gradient(top, #dee9f9 0%,#7db9e8 100%); 
 background: -webkit-linear-gradient(-90deg, black, rgb(158,62,151)) ;
}

h1{
  color: white;
  font-family: "Uppercut Angle", helvetica;
  position: relative;
  /*left: 47%;
  top: 300px;*/
}

#bar {
  position: fixed;
  left: 34%;
  top: 200px;
  line-height: 150px;
  color: white;
  font-size: 25px;
  font-family: 'Avenir', sans-serif;
  font-weight: bold;
}


#shop {
  position: relative;
  right: 15.5%;
  top: 275px;
  text-align: center;
  font-family: "Avenir", sans-serif;
  font-size: 20px;
}

#wolf-container {
  position: relative;
  width: 100%;
  height: 100%;
  left:45%;
  top:20px;
  overflow-y: scroll;
}

.wolf {
  position: fixed;
  width: 40px;
  left:35%;
  top:3%;
  height: 20px;
  margin: 12px 6px;
  background-image: url("../img/1.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  float: left;
  animation: drift;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}


.small {
  width: 30%;
  height: 30%;
  background-size: no-contain;
}

.disappear {
  display: none;
    pointer-events: none;
}

@keyframes resize {
  0% {
    width: 30%;
    height: 30%;
  }
  50% {
    width: 33%;
    height: 33%;
  }
  100% {
    width: 30%;
    height: 30%;
  }
}

a {
  color: red;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 25px;
}


