html, body {
  height: 100%;
  margin: 0;
  padding: 0;
   /*red rgb(237,28,36)*/
  background: black;
 font-family: "Raleway", sans-serif;
  font-weight: 400;
}

.title{
  position: absolute;
  left:2px;
}

#brush:hover{
  animation-name: pulse;
  animation-duration: 1s;
  cursor: pointer;
}

.draggable{
  position: absolute;
  font-size: 50px;
 left:-200px;
  top:50px;
}

.secondlink{
  position: absolute;
left:200px;
top:3px;
}

.thirdlink{
  position: absolute;
left:210px;
top:3px;
}

.fourthlink{
  position: absolute;
left:175px;
top:3px;
}

.fifthlink{
   position: absolute;
left:-590px;
top:175px;
}

.sixthlink{
position: absolute;
left:200px;
top:3px;
}

.seventhlink{
position: absolute;
left:210px;
top:3px;
}


.brushstroke1{
position: absolute;
  left:10px;
  top:450px;
}

.brushstroke2{
position: absolute;
  left:250px;
  top:500px;
}

.brushstroke3{
position: absolute;
  left:410px;
  top:500px;
}

.brushstroke4{
position: absolute;
  left:600px;
  top:500px;
}

.brushstroke5{
position: absolute;
  left:800px;
  top:225px;
}

.brushstroke6{
position: absolute;
  left:800px;
  top:350px;
}

.brushstroke7{
position: absolute;
  left:800px;
  top:500px;
}

.firstlink{
  position: absolute;
  top:90px;
  left:252px;
  cursor: pointer;
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

a {
  color: white;
  text-decoration: none;
 /* cursor: pointer;
  font-weight: bold;
  font-size: 50px;*/
}


