html, body {
  height: 100%;
  margin: 0;
  padding: 0;
/*  background: black;*/
 font-family: "Raleway", sans-serif;
 background: -webkit-linear-gradient(-90deg, rgb(235,32,17),rgb(20,31,158), rgb(251,245,17)) ;
  font-weight: 400;
}

.title{
  position: absolute;
  left:125px;
}

#brush:hover{
  animation-name: pulse;
  animation-duration: 1s;
  cursor: pointer;
}

.draggable{
  position: absolute;
  font-size: 36px;
 left:-200px;
  top:90px;
}

.secondlink{
  position: absolute;
left:200px;
top:3px;
}

.thirdlink{
  position: absolute;
left:180px;
top:3px;
}

.fourthlink{
  position: absolute;
left:150px;
top:3px;
}

.fifthlink{
   position: absolute;
left:175px;
top:3px;
}

.sixthlink{
position: absolute;
left:180px;
top:3px;
}

.seventhlink{
position: absolute;
left:190px;
top:3px;
}


.brushstroke1{
position: absolute;
  left:10px;
  top:350px;
}

.brushstroke2{
position: absolute;
  left:250px;
  top:400px;
}

.brushstroke3{
position: absolute;
  left:400px;
  top:400px;
}

.brushstroke4{
position: absolute;
  left:550px;
  top:400px;
}

.brushstroke5{
position: absolute;
  left:730px;
  top:400px;
}

.brushstroke6{
position: absolute;
  left:900px;
  top:400px;
}

.brushstroke7{
position: absolute;
  left:1075px;
  top:400px;
}

.firstlink{
  position: absolute;
  top:90px;
  left:252px;
  cursor: pointer;
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

a {
  color: white;
  text-decoration: none;
 /* cursor: pointer;
  font-weight: bold;
  font-size: 50px;*/
}

@media screen and (max-width: 959px) (max-height: 651) {

   .title{
   width:80%;
 
  }

  body{
    position: relative;
  width: 30%;
  padding: 20px;
  margin: auto;
 

  }
.draggable{
  width:50%;
}

