html, body {
  height: 100%;
  margin: 0;
  padding: 0;
   background: -webkit-linear-gradient(-90deg, rgb(255,115,30), white) ;
   /*red rgb(237,28,36)*/
 /* background: white;*/
 font-family: "Raleway", sans-serif;
  font-weight: 400;
}

h1{
	font-family: "Raleway", sans-serif;
  font-weight: 700;
	position: fixed;
	left:425px;
  font-size:98px;
  letter-spacing:-5px;
  line-height:1rem;
}

h2{
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  position: fixed;
  left:430px;
  top:115px;
  font-size: 18px;
  text-align: justify;
}

h3{
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  position: fixed;
  left:675px;
  top:115px;
  font-size: 18px;
  text-align: justify;

}
/*.date{
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  position: absolute;
  left:700px;
  top:115px;
  font-size: 18px;
  text-align: justify;
}*/

.firstlink{
  position: absolute;
  top:90px;
  left:252px;
  cursor: pointer;
}

.risingsun{
   position: absolute;
  top:90px;
  left:252px;
  cursor: pointer;
  opacity: 50%

}

.paragraph1{
	color:white;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
	position: absolute;
  float: left;
  font-size:18px;
  top:325px;
  width:540px;
  left:400px;
  text-align: justify;
  letter-spacing: 1px;
  line-height: -5px;
}

.paragraph2{
  color:white;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  position: absolute;
  float: left;
  top:425px;
  font-size:18px;
  width:540px;
  left:400px;
  letter-spacing: 1px;
   line-height: -5px;
  text-align: justify;
}

.secondlink{
  position: fixed;
  left:-280px;
  top: 55px;
}
.Uechi1{
  color:black;
  position: fixed;
  font-size:14px;
  top:100px;
  width:540px;
  left:415px;
  text-align: justify;
  letter-spacing: 1px;
   line-height: -5px;
}

.Uechi2{
  color:black;
  position: fixed;
  top:140px;
  font-size:14px;
  width:540px;
  left:415px;
  text-align: justify;
  letter-spacing: 1px;
   line-height: -5px;
  text-align: justify;
}

.video1{
  position:fixed;
  left:525px;
  top:250px;
}

.thirdlink{
  position: fixed;
  top: 200px;
  left:1275px;
}

.Isshin1{
  color:black;
  position: fixed;
  font-size:14px;
  top:100px;
  width:540px;
  left:400px;
  text-align: justify;
  letter-spacing: 1px;
   line-height: -5px;
}

.Isshin2{
 color:black;
  position: fixed;
  top:155px;
  font-size:14px;
  width:540px;
  left:400px;
  text-align: justify;
  letter-spacing: 1px;
   line-height: -5px;
}

.video2{
  position:fixed;
  left:525px;
  top:250px;
}

.video3{
  position:fixed;
  left:525px;
  top:300px;
}

.fourthlink{
  position: fixed;
  top: 25px;
  left:1275px;
}

.Goju1{
  color:black;
  position: fixed;
  font-size:14px;
  top:100px;
  width:540px;
  left:400px;
  text-align: justify;
   letter-spacing: 1px;
   line-height: -5px;
}

.Goju2{
  color:black;
  position: fixed;
  top:155px;
  font-size:14px;
  width:540px;
  left:400px;
  text-align: justify;
   letter-spacing: 1px;
   line-height: -5px;
}