html, body {
	height: 100%;
	;
	font-family: "Impact", sans-serif;
	background-color:black;
	color:white;
	font-size: 50px;
	text-align: center;

}

h1, p {
	margin: 0;
	padding: 0;
}

div{
color:red;
width:700px;	
height: 110px;
margin-top: 10px;
padding-left: 275px;
text-align: center;

}

a:link {
	color: red;
	text-decoration: none;
	cursor: pointer;
	font-weight: bold;
	font-size: 50px;
}

/*
div{
	background:yellow;
	width: 500px;
	transition: background 3s;
	padding-top: 350px;
	padding-bottom: 400px;
	position: fixed;
	top:0px;
	left:500px;
}
div:hover{
	background-color: transparent;
}
*/