html, body {
	height: 100%;
	;
	font-family: "Source Sans Pro", sans-serif;
	background-color:black;
	color:white;
	font-size: 30px;
	text-align: center;

}

h1, p {
	margin: 0;
	padding: 0;
}

.NastyWoman{
	font-family: "Anton", sans-serif;
}

/*div{
	font-family: "Anton"
	font-size: 100px;
	padding-top: 40px;
}*/

.indexline1{
color:white;
width:700px;	
height: 110px;
margin-top: 10px;
padding-left: 275px;
/*text-align: center;*/

}

.indexline1:hover{
	width: 30px;
	height:20px;
}

.indexline2{
color:white;
width:700px;	
height: 110px;
margin-top: 10px;
padding-left: 275px;
/*text-align: center;*/

}

.indexline2:hover{
	width: 30px;
	height:20px;
}

.indexline3{
color:white;
width:700px;	
height: 110px;
margin-top: 10px;
padding-left: 275px;

}

.indexline3:hover{
	width: 30px;
	height:20px;
}

.pg1line1{
color:white;
width:700px;	
height: 110px;
margin-top: 10px;
padding-left: 275px;

}

.pg1line1:hover{
	width: 30px;
	height:20px;
}

.pg2line1{color:white;
width:700px;	
height: 110px;
margin-top: 10px;
padding-left: 275px;}


.pg2line1:hover{
	width: 40px;
	height:20px;
}

.pg2line2{color:white;
width:700px;	
height: 110px;
margin-top: 10px;
padding-left: 275px;
}

.pg2line2:hover{
	width: 40px;
	height:20px;
}

.pg3line1{color:white;
width:700px;	
height: 110px;
margin-top: 10px;
padding-left: 275px;}

.pg3line1:hover{
	width: 30px;
	height:20px;
}

.pg3line2{color:white;
width:700px;	
height: 110px;
margin-top: 10px;
padding-left: 275px;}

.pg3line2{
	width: 30px;
	height:20px;
}




a:link {
	color: blue;
	text-decoration: none;
	cursor: pointer;
	font-weight: bold;
	font-size: 50px;
}

